footer {
  display: grid;
  padding-block: 1rem;
  gap: 1.5rem;
  font: 0.875rem/150% var(--font-family);
  justify-content: center;

  &.container {
    text-align: center;
  }
}

.links {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 1rem;
}
